
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Backoffice.cshtml";
}

<div class="container">
    <br />
    <div class="alert alert-success" role="alert">Bem vindo ao <b>BackOffice</b> Clube de Membros!</div>

    <div class="jumbotron">
        <h2>Registo de Membros</h2>
    </div>
    <div>
        <img src="~/Imagens/registo.jpg" />
    </div>
</div>
