
@{
    ViewBag.Title = "Backoffice Home Page";
    Layout = "~/Views/Shared/_Layout_Backoffice.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2>Registo de Membros</h2>
    </div>
    <div>
        <img src="~/Imagens/registo.jpg" />
    </div>
</div>
