@model IEnumerable<MoonMembers.Models.Members>

@{
    ViewBag.Title = "Membros";
    Layout = "~/Views/Shared/_Layout_Backoffice.cshtml";
}

<h2>Membros</h2>

<p>
    @Html.RouteLink("Incluir Novo Membro", "BackCreateMember", null, new { @class = "btn btn-success" })
</p>

<p>
    @using (Html.BeginRouteForm("BackMemberImportXml", FormMethod.Post, new { enctype = "multipart/form-data", id = "importFormXML" }))
    {
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="xmlFile" name="xmlFile" type="file" style="display: none;" accept=".xml" onchange="submitXML();" />
                            <label class="custom-file-label"></label>
                        </div>
                        <div class="input-group-append">
                            @Html.RouteLink("Exportar XML", "BackMemberExportXml", null, new { @class = "btn btn-primary" })

                            <input type="button" class="btn btn-danger" onclick="importXML();" value="Importar XML" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</p>

<p>
    <div id="membersData">
        @Html.Partial("Backoffice/_MemberList", Model)
    </div>
</p>
